/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset */

body {
  height: 100vh;
  background-color: green;
}

main {
  display: flex;
  height: calc(100% - 80px);
  background-color: red;
}

aside {
  width: 250px;
  height: 100%;
  background-color: blue;
  flex-shrink: 0;
}

.home__page {
  height: 100%;
  width: 100%;
  background-color: green;
  overflow: auto;
}

.upgrade__bar{
  height: 80px;
  width: calc(100% - 250px);
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
}

.boxprova_wrap {
  margin-top: 80px;
}

.boxprova {
  width: 100px;
  height: 300px;
  border: 1px solid black;
}

footer{
  height: 80px;
  background-color: black;
}
