/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset */

/* buttons */
.btn {
  border: none;
  background-color: transparent;
  color: white;
  margin: 0;
  padding: 0;
}

/* mix */

.list__none{
  list-style: none;
}

body {
  height: 100vh;
  background-color: green;
}

main {
  display: flex;
  height: calc(100% - 80px);
  background-color: red;
}

aside {
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
}

.main__nav__logo{
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.playlist__nav__logo {
  width: 55px;
  height: 55px;
  vertical-align: middle;
}

.home__page {
  height: 100%;
  width: 100%;
  background-color: green;
  overflow: auto;
}

.upgrade__bar{
  height: 80px;
  width: calc(100% - 250px);
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
}

.boxprova_wrap {
  margin-top: 80px;
}

.boxprova {
  width: 100px;
  height: 300px;
  border: 1px solid black;
}

footer{
  height: 80px;
  background-color: black;
}
