/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* reset */

/* buttons */
.btn {
  border: none;
  background-color: transparent;
  color: white;
  margin: 0;
  padding: 0;
}

/* mix */

.list__none{
  list-style: none;
}

body {
  background-color: green;
}

.wrapper {
  height: 100vh;
}

main {
  display: flex;
  height: calc(100vh - 80px);
  background-color: red;
}

aside {
  position: relative;
  width: 250px;
  height: 100%;
  background-color: black;
  color: white;
  flex-shrink: 0;
}

.logo img {
  width: 100%;
}

.main__nav__logo{
  width: 40px;
  height: 40px;
  vertical-align: middle;
}

.playlist__nav{
  overflow-y: scroll;
  max-height: calc(50% - 50px);
}

.playlist__nav__logo {
  width: 55px;
  height: 55px;
  vertical-align: middle;
}

.account{
  position: absolute;
  bottom: 0px;
  background-color: black;
}

.account p {
  border-bottom: 2px solid white;
  margin-bottom: 10px;
}

.home__page {
  height: 100%;
  width: 100%;
  background-color: green;
  overflow: auto;
}

.upgrade__bar{
  height: 80px;
  width: calc(100% - 250px);
  background-color: rgba(0,0,0,0.5);
  position: fixed;
  top: 0;
  right: 0;
}

footer{
  height: 80px;
  background-color: black;
}
